# Supabase
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_3E-isNTNBUvoJ6jdrmx6vw_VeFiX4xQ
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10c3ZxenZpc3Fmemx2Yml4ZXBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzY2MzcsImV4cCI6MjA5MzMxMjYzN30.8rHldBDd8UqCKSHmn75LhltGSDSZvpOZ8FjIjtJJ38E

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
